<html>
<head>
<meta charset="UTF-8">
<title>Chess</title>
</head>
<body>
<div class="chessboard">
<!-- 1st row -->
<div class="white">r</div>
<div class="black">k</div>
<div class="white">b</div>
<div class="black">q</div>
<div class="white">k</div>
<div class="black">b</div>
<div class="white">k</div>
<div class="black">r</div>
<!-- 2nd row -->
<div class="black">p</div>
<div class="white">p</div>
<div class="black">p</div>
<div class="white">p</div>
<div class="black">p</div>
<div class="white">p</div>
<div class="black">p</div>
<div class="white">p</div>
<!-- 3rd row -->
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<!-- 4th row -->
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<!-- 5th row -->
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<!-- 6th row -->
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<!-- 7th row -->
<div class="white">P</div>
<div class="black">P</div>
<div class="white">P</div>
<div class="black">P</div>
<div class="white">P</div>
<div class="black">P</div>
<div class="white">P</div>
<div class="black">P</div>
<!-- 8th row -->
<div class="black">R</div>
<div class="white">K</div>
<div class="black">B</div>
<div class="white">Q</div>
<div class="black">K</div>
<div class="white">B</div>
<div class="black">K</div>
<div class="white">R</div>
</div>
</body>
</html>
