<html>

<head>
    <meta charset="UTF-8">
    <title>Chess by The Sourcerers</title>
</head>

<body>
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="board">
      <% (0..7).each do |y| %>
        <% (0..7).each do |x| %>
          <% chess_piece = @board.get_piece_at(x,y) %>
          <% if chess_piece.nil? %>
            <div class="<%=@board.get_colour(x,y)%>" data-x-coord=<%=x %> data-y-coord="<%= y %>">
            </div>
          <% else %>
            <!-- This method returns an array.  Find out why -->
            <%= chess_piece.inspect %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</body>


</html> 