<html>
<head>
<meta charset="UTF-8">
<title>Chess</title>
</head>
<body>
<td class="chessboard">
<!-- 8th row -->
<td class="white-a8">r</td>
<td class="black-b8">k</td>
<td class="white-c8">b</td>
<td class="black-d8">q</td>
<td class="white-e8">k</td>
<td class="black-f8">b</td>
<td class="white-g8">k</td>
<td class="black-h8">r</td>
<!-- 7th row -->
<td class="black-a7">p</td>
<td class="white-b7">p</td>
<td class="black-c7">p</td>
<td class="white-d7">p</td>
<td class="black-e7">p</td>
<td class="white-f7">p</td>
<td class="black-g7">p</td>
<td class="white-h7">p</td>
<!-- 6th row -->
<td class="white-a6"></td>
<td class="black-b6"></td>
<td class="white-c6"></td>
<td class="black-d6"></td>
<td class="white-e6"></td>
<td class="black-f6"></td>
<td class="white-g6"></td>
<td class="black-h6"></td>
<!-- 5th row -->
<td class="black-a5"></td>
<td class="white-b5"></td>
<td class="black-c5"></td>
<td class="white-d5"></td>
<td class="black-e5"></td>
<td class="white-f5"></td>
<td class="black-g5"></td>
<td class="white-h5"></td>
<!-- 4th row -->
<td class="white-a4"></td>
<td class="black-b4"></td>
<td class="white-c4"></td>
<td class="black-d4"></td>
<td class="white-e4"></td>
<td class="black-f4"></td>
<td class="white-g4"></td>
<td class="black-h4"></td>
<!-- 3rd row -->
<td class="black-a3"></td>
<td class="white-b3"></td>
<td class="black-c3"></td>
<td class="white-d3"></td>
<td class="black-e3"></td>
<td class="white-f3"></td>
<td class="black-g3"></td>
<td class="white-h3"></td>
<!-- 2nd row -->
<td class="white-a2">P</td>
<td class="black-b2">P</td>
<td class="white-c2">P</td>
<td class="black-d2">P</td>
<td class="white-e2">P</td>
<td class="black-f2">P</td>
<td class="white-g2">P</td>
<td class="black-h2">P</td>
<!-- 1st row -->
<td class="black-a1">R</td>
<td class="white-b1">K</td>
<td class="black-c1">B</td>
<td class="white-d1">Q</td>
<td class="black-e1">K</td>
<td class="white-f1">B</td>
<td class="black-g1">K</td>
<td class="white-h1">R</td>
</td>
</body>
</html>
