// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.chessboard {
    width: 690px;
    height: 690px;
    margin: 20px;
    border: 25px solid #333;
    position: absolute;
    left: 50%;
    margin-left: -355px;
    top: 100px;
}

.square-grey {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #999;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.square-white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.board {
    width: 690px;
    height: 690px;
    margin: 20px;
    border: 25px solid #333;

}

.grey {
    background-color: grey;
    float: left;
    width: 80px;
    height: 80px;
}

.white {
    float: left;
    width: 80px;
    height: 80px;
}

.chess_piece {
    font-size: 50px;

}